# nbdpnpd.conf
[global]
log_level = INFO
listen_host = 0.0.0.0 # optional
listen_port = 10800

[export "dvd0"]
device = /dev/sr0
port = 10809 # optional

[export "dvd1"]
device = /dev/sr1
port = 10809 # optional
